
/* custom style sheet for the site */

html {
    font-family: Roboto;
}

/* set the navbar color */
.navbar {
    background-color: #333;
}


.navbar a {
    display: block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-right li a {
    float:left;
}


#name-link {
    float: left;
    font-family: Ubuntu Mono;
}

.section {
    background-color: blue;
    border-style:solid;
    border-color:black;
}

#home {
    height: 500px;
}

#about {
    height: 500px;
}

#projects {
    height: 500px;
}

#footer {
    height: 100px;
}

