
// main style sheet for the site
// using sass preprocessor + materialize.css

@charset "UTF-8";

// Mixins
//@import "components/mixins";
@import "components/color";

// Reset
@import "components/normalize";

// Variables;
@import "components/variables";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "component/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

// name-logo
#name-link {
    font-family: Ubuntu Mono;
}

// set blue
nav {
  opacity: 0.5;
}

.nav-wrapper {
  @extend .grey;
}

#home {
    height: 500px;
}

#about {
    height: 500px;
}

#projects {
    height: 500px;
}

#footer {
    height: 100px;
}
